.navbar {
  display: flex;
  justify-content: space-around;
  height: 74px;
  width: 100vw;
  background-color: transparent;
  padding: 10px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  display: flex;
  flex-direction: column;
}

.search {
  padding: 5px 10px;
  border-radius: 25px;
  width: 420px;
  height: 55px;
}

.items {
  font-size: larger;
  border-radius: 25px;
  cursor: pointer;
  color: whitesmoke;
  font-weight: 500;
}

.items::focus {
  background-color: black;
}

.link {
  cursor: pointer;
}
