html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: #764ba2;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f0f4ff;
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #799dfa;
  border-radius: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

.background_gradient {
  background: linear-gradient(to right, #667eea, #764ba2);
}

.background_gradient_reverse {
  background: linear-gradient(to right, #764ba2, #667eea);
}

.button_shadow {
  box-shadow: inset -3px -14px 20px rgba(255, 255, 255, 0.25),
    inset 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.main_banner_bg_image {
  background-image: url(../public/Rectangle.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.small_text {
  padding: 0;
  margin: 0 0.4rem;
  font-size: 12px;
  font-weight: 400;
}

.course_option {
  width: 42px;
  height: 42px;
}

.pointer_cursor {
  cursor: pointer;
}

.on_it:hover,
.on_it:focus {
  background-color: black;
  border-radius: 25px;
}

.leave_navbar {
  padding-top: 7rem;
}

.rounded-sm {
  border-radius: 25px;
}

.rounded-md {
  border-radius: 30px;
}

.height_text_area {
  height: 170px;
  resize: none;
}

.login_container {
  height: 400px;
  width: 740px;
}

.spaced_text {
  letter-spacing: 0.92em;
  padding-left: 0.92em;
}

.z-1 {
  z-index: 1;
}
.z-9 {
  z-index: 9;
}
.z-10 {
  z-index: 10;
}

@media only screen and (max-width: 1200px) {
  .height_text_area {
    height: 80px;
  }
}

@media only screen and (max-width: 770px) {
  .login_container {
    height: 250px;
    width: 100%;
  }
}

@media only screen and (max-width: 580px) {
  .login_container {
    height: 230px;
    width: 100%;
  }
}
