html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: linear-gradient(to right, #667eea, #764ba2);
  min-height: 100vh;
}

::-webkit-scrollbar {
  width: 7.5px;
  background-color: #764ba2;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 25px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
  border-radius: 25px;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

* {
  box-sizing: border-box;
}

input,
textarea,
button {
  outline: none;
}

input::placeholder {
  color: white;
}

.background_gradient {
  background: linear-gradient(to right, #667eea, #764ba2);
}

.background_gradient_reverse {
  background: linear-gradient(to right, #764ba2, #667eea);
}

/* button {
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

button:hover {
  background: linear-gradient(to right, #764ba2, #667eea);
  -webkit-transform: translateX(10px);
  -moz-transform: translateX(10px);
  -ms-transform: translateX(10px);
  -o-transform: translateX(10px);
  transform: translateX(10px);
} */

.small_text {
  padding: 0;
  margin: 0 0.4rem;
  font-size: 12px;
  font-weight: 400;
}

.font_sm {
  font-size: 0.75rem;
}

.font_xsm {
  font-size: 0.5rem;
}

.course_option {
  width: 42px;
  height: 42px;
}

.pointer_cursor {
  cursor: pointer;
}

.on_it:hover,
.on_it:focus {
  background-color: rgba(255, 255, 255, 0.5);
}

.leave_navbar {
  padding-top: 7rem;
}

.rounded-sm {
  border-radius: 25px;
}

.rounded-md {
  border-radius: 30px;
}

.rounded-lg {
  border-radius: 100px;
}

.height_text_area {
  height: 170px;
  resize: none;
}

.form_container {
  width: 742px;
}

.spaced_text {
  letter-spacing: 0.5em;
  padding-left: 0.5em;
  text-align: right;
}

.spaced_text:last-child {
  letter-spacing: 0em;
}

.z-1 {
  z-index: 1;
}
.z-9 {
  z-index: 9;
}
.z-10 {
  z-index: 10;
}

@media only screen and (max-width: 1000px) {
}

@media only screen and (max-width: 768px) {
  .form_container {
    width: 514px;
  }
}

@media only screen and (max-width: 576px) {
  .form_container {
    width: 400px;
  }
}

@media only screen and (max-width: 450px) {
  .form_container {
    width: 325px;
  }
}
